* {
    margin: 0;
    padding: 0;
}
li {
    margin-top: 1rem;
}
li > label {
    cursor: pointer;
}
ul {
    padding: 0 !important;
    list-style: none;
}
ul>.list-group-item {
    border: none;
}
.bordersNone {
    border:none !important;
}
.buttonShadow:focus {
    box-shadow: none !important;
}
.padding05 {
    padding: 0.5rem 0rem !important;
}